.bg-blue { background-color: var(--saphire); }
.bg-white { background-color: #fff; }
.bg-dark { background-color: #000; }
.bg-red { background-color: var(--chestnut-rose);}
.bg-green { background-color: var(--ocean-green); }