:root {
  --blue-dianne: #206163;
  --chestnut-rose: #CD5152;
  --ocean-green: #4cb477;
  --saphire: #35469D;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height:1.15;
  -webkit-text-size-adjust:100%;
  -webkit-tap-highlight-color:transparent;
}

h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}
p{margin-top:0;margin-bottom:1rem}

.banner {
  display: grid;
  font-size: 1rem;
  grid-template-columns: 2fr 1.5fr;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.text-larger {
  font-size: 3rem;
}

.text-secondary {
  color: #525252;
}

.inline {
  display: flex;
  flex-direction: row;
}

.f-align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.call-to-action {
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: var(--saphire);
  width: fit-content;
  color: #fff;
  box-shadow: 1px 1px 4px #525252;
  margin: 15px 0;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}