:root {
  --blue-dianne: #206163;
  --chestnut-rose: #CD5152;
  --ocean-green: #4cb477;
  --ship-cove: #6e77b8;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--chestnut-rose);
}

.banner {
  display: grid;
  font-size: larger;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.text-larger {
  font-size: 3rem;
}

.text-secondary {
  color: #525252;
}

.inline {
  display: flex;
  flex-direction: row;
}

.f-align-center {
  display: flex;
  align-items: center;
}